body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}
.dark {
  color: #F3F2F0;
  background-color: #232326;
}
.dark .nav-link {
  color: #F3F2F0;
}
.dark .circle circle {
  fill: #D40000;
}
.dark .triangle path {
  fill: #fff;
}
.dark .steps-item,
.dark .social,
.dark .about-title,
.dark .about-description {
  border-bottom: 1px solid #F3F2F0;
}
.dark .steps-item:first-child {
  border-top: 1px solid #F3F2F0;
}
.dark .gradient {
  background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
}
.dark .nav-tabs-link {
  color: rgba(243, 242, 240, 0.5);
}
.dark .nav-tabs-item.ui-state-active .nav-tabs-link {
  border-bottom: 2px solid #F3F2F0;
  color: #F3F2F0;
}
.dark .work {
  border-bottom: 1px solid #F3F2F0;
}
.dark .advantages {
  border-top: 1px solid #F3F2F0;
}
.dark .tech-item {
  border-bottom: 1px solid  rgba(243, 242, 240, 0.3);
  border-right: 1px solid  rgba(243, 242, 240, 0.3);
}
.dark .tech-item:first-child,
.dark .tech-item:nth-child(5) {
  border-left: 1px solid rgba(243, 242, 240, 0.3);
}
.dark .html,
.dark .css,
.dark .js,
.dark .jquery {
  border-top: 1px solid rgba(243, 242, 240, 0.3);
}
.dark .tarif-title,
.dark .tarif-description {
  border-bottom: 1px solid #F3F2F0;
}
.dark .tarif-item {
  border-bottom: 1px solid #F3F2F0;
}
.dark form input {
  background-color: #38383A;
  color: #F3F2F0;
}
.dark .ui-selectmenu-button.ui-button {
  background-color: #38383A;
  color: #fff;
}
.dark footer {
  border-top: 1px solid #F3F2F0;
}
.dark .footer-bottom p {
  color: rgba(243, 242, 240, 0.3);
}
.dark .nav-social .nav-item::before {
  content: "";
  display: block;
  background-color: rgba(243,242,240,0.5);
}
.dark .footer-link {
  color: rgba(243, 242, 240, 0.3);
}
.dark .nav-info .nav-item::before {
  content: "";
  display: block;
  background-color: rgba(243,242,240,0.5);
}
.dark .nav-tabs-item.ui-state-active .nav-tabs-link {
  border-bottom: 2px solid #F3F2F0;
}
.dark .ui-selectmenu-menu .ui-menu .ui-menu-item {
  background-color: #38383A;
  color: rgba(243, 242, 240, 0.4);
}
.dark .ui-selectmenu-menu .ui-menu .ui-menu-item:hover {
  color: rgba(243, 242, 240, 1);
}
.dark .form-item {
  border-top: 1px solid #F3F2F0;
}
.dark #dark,
.dark #light {
  background-color: #232326;
  color: #E7E6E4;
}
.dark #dark:focus,
.dark #light:focus {
  outline: none;
}
.dark .burger-img {
  fill:#E7E6E6;
}
.dark form select {
  background-color: #38383A;
  color: #F3F2F0;
}
.light form select {
  background-color: #E7E6E4;
  color: #38383A;
}
.light .burger-img {
  fill:#010101;
}
.light .form-item {
  border-top: 1px solid #010101;
}
.light .ui-selectmenu-menu .ui-menu .ui-menu-item {
  background: #E7E6E4;
  color: rgba(1, 1, 1, 0.4);
}
.light .ui-selectmenu-menu .ui-menu .ui-menu-item:hover {
  color:rgba(1, 1, 1, 1);
}
.light .nav-tabs-item.ui-state-active .nav-tabs-link {
  border-bottom: 2px solid #010101;
}
.light .nav-info .nav-item::before {
  content: "";
  display: block;
  background-color: rgba(1, 1, 1, 0.2);
}
.light .footer-link {
  color: rgba(1, 1, 1, 0.3);
  border-bottom: 1px solid rgba(1, 1, 1, 0.3);
}
.light .footer-link:hover {
  color: #010101;
  border-bottom: 1px solid #000;
}
.light .nav-social .nav-item::before {
  content: "";
  display: block;
  background-color: rgba(1,1,1,0.2);
}
.light .footer-bottom p {
  color: rgba(1, 1, 1, 0.3);
}
.light footer {
  border-top: 1px solid #010101;
}
.light .ui-selectmenu-button.ui-button {
  background-color: #E7E6E4;
  color:#010101;
}
.light form input {
  background-color: #E7E6E4;
  color:rgba(1, 1, 1, 0.2);
}
.light .tarif-item {
  border-bottom: 1px solid#010101;
}
.light .tarif-title,
.light .tarif-description {
  border-bottom: 1px solid #010101;
}
.light .tech-item {
  border-bottom: 1px solid rgba(1, 1, 1, 0.3);
  border-right: 1px solid rgba(1, 1, 1, 0.3);
}
.light .tech-item:first-child,
.light .tech-item:nth-child(5) {
  border-left: 1px solid rgba(1, 1, 1, 0.3);
}
.light .html,
.light .css,
.light .js,
.light .jquery {
  border-top: 1px solid rgba(1, 1, 1, 0.3);
}
.light .tech-item {
  border-bottom: 1px solid rgba(1, 1, 1, 0.3);
  border-right: 1px solid rgba(1, 1, 1, 0.3);
}
.light .advantages {
  border-top: 1px solid#010101;
}
.light .work {
  border-bottom: 1px solid #010101;
}
.light .nav-tabs-link {
  color: rgba(1, 1, 1, 0.4);
}
.light .nav-tabs-item.ui-state-active .nav-tabs-link {
  color: #010101;
}
.light .gradient {
  background: linear-gradient(180deg, #E7E6E6 0%, rgba(231, 230, 230, 0) 100%);
}
.light .circle circle {
  fill: #fff;
}
.light .triangle path {
  fill: #D40000;
}
.light .nav-link {
  color: #010101;
}
.light {
  color: #010101;
  background-color: #F3F2F0;
}
.light .social {
  border-bottom: 1px solid #010101;
}
.light .steps-item,
.light .social,
.light .about-title,
.light .about-description {
  border-bottom: 1px solid #010101;
}
.light .steps-item:first-child {
  border-top: 1px solid #010101;
}
.light .triangle-form {
  fill: #D40000;
}
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main {
  position: relative;
}
.name {
  font-size: 28px;
  position: relative;
  z-index: 3;
}
.main .title-h1 {
  position: relative;
  z-index: 3;
  margin-top: 37px;
  letter-spacing: 0.03em;
}
.title-h1 {
  font-size: 74px;
  text-transform: uppercase;
}
.title-h3 {
  font-size: 16px;
  font-weight: 700;
}
.photo {
  margin-bottom: 95px;
  width: 100%;
  height: 310px;
  position: relative;
  overflow: hidden;
}
.photo img {
  width: 100%;
  height: 310px;
  position: absolute;
  left: -50%;
  top: -50%;
  transform: translate(50%, 50%);
  object-fit: cover;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 64px;
}
.nav {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}
.nav-item {
  padding-left: 14px;
  padding-right: 14px;
}
.nav-item:first-child {
  padding-left: 0;
}
.nav-item:last-child {
  padding-right: 0;
}
.nav-link {
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s color ease;
}
.nav-link:hover {
  color: #D40000;
}
.nav-info .nav-item {
  position: relative;
}
.nav-info .nav-item::before {
  content: "";
  display: block;
  width: 1px;
  height: 24px;
  background-color: rgba(243,242,240,0.5);
  position: absolute;
  left: 0;
  top: calc(50% - 12px);
}
.nav-social .nav-item:first-child:before {
  display: none;
}
.nav-social .nav-item {
  position: relative;
  padding-left: 28px;
  padding-right: 28px;
}
.nav-social .nav-item:last-child {
  padding-right: 0;
}
.nav-social .nav-item::before {
  content: "";
  display: block;
  width: 1px;
  height: 24px;
  background-color: rgba(243,242,240,0.5);
  position: absolute;
  left: 0;
  top: calc(50% - 12px);
}
.nav-social .nav-link {
  font-size: 16px;
}
.nav-info .nav-item:first-child:before {
  display: none;
}
.social {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  margin-top: 107px;
  border-bottom: 1px solid #F3F2F0;
}
.social-item:last-child {
position: relative;
}
.project {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 11px;
  transition: 0.2s border-bottom ease;
  border-bottom: 2px solid transparent;
}
.project:hover {
  border-bottom: 2px solid #F3F2F0;
}
.project-img {
  background-image: url(../img/arrow.svg);
  display: block;
  width: 16px;
  height: 12px;
  margin-left: 16px;
}
.skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 34px;
}
.skill-item {
  flex: 0 0 22%;
  margin-right: 3%;
}
.skill .title-h3 {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.skill .description {
  line-height: 150%;
}
.circle-main {
  width: 253px;
  height: 253px;
  position: absolute;
  left: -128px;
  top: calc(50% - 137px);
  z-index: 1;
}
.triangle {
  position: absolute;
  z-index: 2;
  left: -150px;
  top: -22px;
}
.circle-nav {
  width: 106px;
  height: 106px;
  position: absolute;
  top: calc(50% - 60px);
  right: 38px;
}
.circle-tarif {
  width: 140px;
  height: 140px;
  position: absolute;
  top: calc(50% - 70px);
  left: -80px;
}
.circle-price {
  width: 90px;
  height: 90px;
  position: absolute;
  top: calc(50% - 45px);
  left: -34px;
}
.section-steps {
  padding-top: 142px;
  padding-bottom: 132px;
}
.steps-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 150%;
  padding-top: 12px;
  padding-bottom: 12px;
}
.steps-title {
  font-size: 28px;
  line-height: 150%;
}
.steps-title span {
  margin-right: 40px;
}
.steps-description {
  font-size: 16px;
  flex: 0 0 49%;
  max-width: 49%;
}
.section-about {
  padding-top: 80px;
}
.about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.about-title {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 90px;
  padding-bottom: 62px;
}
.about-description {
  grid-column: 3/5;
  grid-row: 1/2;
  font-size: 28px;
  line-height: 150%;
  opacity: 0.8;
  padding: 90px 10px 62px 12px;
}
.about-01 {
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 49px 20px 35px 12px;
}
.about-02 {
  grid-column: 4/5;
  grid-row: 2/3;
  padding: 49px 10px 10px 15px;
}
.about-03 {
  grid-column: 3/4;
  grid-row: 3/4;
  padding: 18px 12px;
}
.about-04 {
  grid-column: 4/5;
  grid-row: 3/4;
  padding: 18px 10px 35px 17px;
}
.about .description {
  line-height: 150%;
  opacity: 0.8;
}
.about-item > p {
  margin-bottom: 0;
  margin-top: 0;
}
.about-item .title-h3 {
  margin-bottom: 21px;
}
.portfolio {
  margin-bottom: 145px;
  position: relative;
  z-index: 1;
}
#tabs {
  position: relative;
}
.section-portfolio {
  position: relative;
}
.circle-portfolio {
  width: 465px;
  height: 465px;
  position: absolute;
  top: -323px;
  left: 347px;
}
.nav-tabs {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  position: absolute;
  top: -41px;
}
.nav-tabs-item {
  margin-right: 78px;
}
.nav-tabs-link {
  border-bottom: 2px solid transparent;
  padding-top: 21px;
  padding-bottom: 21px;
  text-decoration: none;
  font-size: 16px;
}
.nav-tabs-link:focus,
.nav-tabs-item:focus {
  outline: none;
}
.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 61px;
  padding-bottom: 60px;
}
.work-item {
  flex: 0 0 49%;
}
.work-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 44px;
}
.work-list {
  list-style-type: none;
  font-size: 16px;
  opacity: 0.8;
  padding-left: 0;
  margin-bottom: 43px;
}
.work-list-item {
  margin-bottom: 16px;
}
.work-time {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.8;
  margin-bottom: 0;
}
.work-thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 315px;
}
.work-image {
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translate(50%, 50%);
  width: 100%;
  height: 315px;
  object-fit: cover;
}
.section-advantages {
  padding-top: 150px;
  padding-bottom: 180px;
}
.advantages-text {
  font-size: 28px;
  line-height: 150%;
  max-width: 871px;
  margin-bottom: 80px;
}
.advantages {
  display: grid;
  grid-template: 1fr 1fr/repeat(3, 1fr);
  grid-gap: 81px 24px;
  border-top: 1px solid #F3F2F0;
  padding-top: 79px;
}
.advantages-image svg {
  width: 40px;
  height: 40px;
}
.advantages-image path {
  fill: #F3F2F0;
}
.advantages-image {
  margin-right: 40px;
}
.advantages-item {
  display: flex;
  align-items: center;
}
.advantages .title-h3 {
  margin-top: 0;
  margin-bottom: 11px;
}
.advantages-description {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.8;
}
.tech {
  display: grid;
  grid-template: 148px 148px/repeat(4, 1fr);
}
.tech-item {
  display: flex;
  justify-content: center;
}
.jquery .tech-image {
  width: 72px;
}
.tech-image {
  filter: grayscale(100%);
  transition: 0.2s ease;
  width: 84px;
}
.tech-item:hover .tech-image {
  filter: grayscale(0);
}
.ui-tooltip {
  background-color: #E31B1B;
  border-color: #E31B1B!important;
  border-radius: 0;
  text-align: center;
  box-shadow: none!important;
  font-style: 10px;
  color: rgba(243,242,240,0.8);
  max-width: 232px;
  line-height: 150%;
  padding: 20px;
  box-sizing: border-box;
}
.ui-tooltip-content::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -20px;
  width: 2px;
  border: 10px solid transparent;
  border-bottom: 10px solid #E31B1B;
}
.section-tarif {
  padding-top: 150px;
}
.tarif {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tarif-header {
  padding-right: 15px;
}
.tarif-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  height: 268px;
  padding-bottom: 64px;
}
.tarif-title {
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.tarif-title > div {
  position: relative;
}
.tarif-title p {
  position: relative;
  z-index: 1;
  font-weight: 700;
}
.tarif-description {
  font-size: 28px;
  line-height: 150%;
  opacity: 0.8;
  padding-bottom: 51px;
}
.tarif-name {
  font-size: 28px;
  line-height: 150%;
  margin-bottom: 20px;
}
.tarif-text {
  font-size: 16px;
  line-height: 150%;
  opacity: 0.8;
}
.tarif .project {
  display: inline-flex;
}
.tarif-pack {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-top: 30px;
  margin-bottom: 28px;
}
.tarif-list {
  list-style-type: none;
  padding-left: 11px;
  margin: 0;
  font-size: 16px;
}
.tarif-list-item {
  position: relative;
  padding-left: 15px;
  margin-bottom: 13px;
}
.tarif-list-item:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #F3F2F0;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
}
.tarif-price {
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
}
.tarif-footer {
  position: relative;
}
.tarif-footer p {
  position: relative;
  z-index: 1;
  margin: 0;
}
.section-form {
  padding-top: 92px;
  padding-bottom: 128px;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form-item {
  padding-top: 60px;
  border-top: 1px solid #010101;
}
.form-title {
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
}
.form-title p {
  position: relative;
}
.form-description {
  font-size: 28px;
  line-height: 150%;
  opacity: 0.8;
  padding-bottom: 31px;
}
form {
  font-size: 12px;
  line-height: 150%;
}
form label {
  opacity: 0.8;
  display: block;
  margin-bottom: 12px;
}
form input {
  width: 100%;
  padding: 26px 20px 26px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 18px;
}
form input:focus {
  outline: none;
}
form input[type=submit] {
  background: #D40000;
  color: #F3F2F0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  padding: 21px 0;
  margin-bottom: 0;
  transition: 0.2s ease;
}
form input[type=submit]:hover {
  background: #EA0E00;
  cursor: pointer;
}
form select {
  width: 100%;
  margin-bottom: 30px;
  padding: 26px 20px 26px;
  opacity: 0.8;
}
form select:focus {
  outline: none;
}
form select option {
  width: 500px;
}
.form-item .nav-item:first-child {
  padding-left: 0;
}
.ui-selectmenu-button.ui-button {
  width: 100%;
  background-color:#38383A;
  padding: 25px 20px 25px;
  color: #fff;
  margin-bottom: 35px;
  box-sizing: border-box;
  border-radius: 0;
}
.ui-button:hover, .ui-button:focus {
  border: none;
  outline: none;
}
.ui-selectmenu-menu .ui-menu {
  background-color: #38383A;
  color: rgba(243, 242, 240, 0.4);
  font-size: 12px;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item {
  padding: 10px 20px;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item:hover {
  padding: 10px 20px;
}
.form-social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}
footer {
  border-top: 1px solid #F3F2F0;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 65px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 44px;
  padding-bottom: 42px;
}
.footer-bottom p {
  margin: 0;
  color: rgba(243, 242, 240, 0.3);
}
.footer-link {
  border-bottom: rgba(243, 242, 240, 0.3);
  transition: 0.2s ease;
  text-decoration: none;
}
.footer-link:hover {
  color: rgba(243, 242, 240, 1);
  border-bottom: rgba(243, 242, 240, 1);
}
.circle-form {
  width: 300px;
  height: 300px;
  position: absolute;
  fill: #D40000;
  left: -152px;
}
.triangle-form {
  position: absolute;
  fill: #fff;
  top: 52px;
  left: -176px;
}
.theme-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
@media (min-width: 901px) {
  .header-mobile {
    display: none;
  }
}
.burger-open {
  display: none;
}




@media (max-width: 900px) {
  body.lock {
    overflow: hidden;
  }
  header {
    display: none;
  }
  .burger-open {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #232326;
    z-index: 10;
  }
  .burger-open {
    padding-top: 100px;
    display: none;
  }
  .active {
    display: block;
  }
  .menu-btn {
    outline: none;
    background: transparent;
    border: none;
  }
  .burger-open-nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  .burger-open-nav-item {
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
    border-top: 1px solid rgba(243, 242, 240, 0.2);
    padding: 20px;
  }
  .burger-open-nav-link {
    text-decoration: none;
    font-size: 26px;
    line-height: 150%;
    color: #F3F2F0;
  }
  .header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 12;
  }
  .circle-main {
    width: 200px;
    height: 200px;
    left: -99px;
    top: calc(50% - 100px)
  }
  .triangle {
    left: 0;
    top: inherit;
    bottom: -80px;
    width: 48px;
  }
  .title-h1 {
    font-size: 50px;
  }
  .name {
    font-size: 20px;
  }
  .main .title-h1 {
    margin-top: 28px;
  }
  .social {
    margin-top: 145px;
  }
  .skill {
    justify-content: space-between;
  }
  .skill-item {
    flex: 0 0 47%;
    margin-right: 3%;
    padding-bottom: 20px;
  }
  .about {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-description {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .about-01 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .about-02 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .about-03 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .about-04 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .steps-title {
    font-size: 20px;
    padding-right: 25px;
  }
  .nav-tabs {
    justify-content: space-around;
    width: 100%;
  }
  .nav-tabs-item {
    margin-right: 0;
  }
  .ui-helper-clearfix:before, .ui-helper-clearfix:after {
    display: none;
  }
  .circle-portfolio {
    left: inherit;
    right: 29px;
    top: -341px;
  }
  .work {
    padding-bottom: 0;
  }
  .work-item {
    flex: 0 0 100%;
    padding-bottom: 56px;
  }
  .advantages {
    grid-template-columns: 1fr 1fr;
  }
  .tarif-title {
    grid-column: 1/3;
    grid-row: 1/2;
    border-bottom: none;
  }
  .tarif-description {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .circle-tarif {
    width: 250px;
    height: 250px;
    top: calc(50% - 125px);
    left: -155px;
  }
  .form {
    grid-template-columns: 1fr;
  }
  .form-title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .form-description {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .form-item {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .form-social {
    grid-row: 4/5;
    align-items: center;
  }
  .circle-form {
    left: -135px;
    top: -34px;
  }
  .triangle-form {
    bottom: inherit;
    top: -54px;
    left: 92px;
    width: 35px;
  }
  .footer-top {
    flex-direction: column-reverse;
  }
  .footer-top .nav,
  .footer-bottom>p {
    flex-basis: 100%;
  }
  .footer-top .nav {
    display: flex;
    justify-content: space-between;
  }
  .footer-top .nav-info {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .footer-bottom>p {
    text-align: center;
    padding-bottom: 20px;
  }
  .menu-btn {
    width: 29px;
    height: 24px;
    background: transparent;
    border: none;
    padding: 0;
    position: relative;
    z-index: 5;
  }
  .menu-btn__item {
    width: 100%;
    height: 2px;
    background: #E7E6E4;
    display: block;
    display: flex;
    position: relative;
    align-items: center;
  }
  .menu-btn:after,
  .menu-btn:before {
    content: '';
    width: 29px;
    height: 2px;
    background: #E7E6E4;
    display: block;
    position: absolute;
  }
  .menu-btn:after {
    top: 0;
  }
  .menu-btn:before {
    bottom: 0;
  }
  .menu-btn:focus {
    outline: none;
  }
  .menu-btn.active::before {
    transform: rotate(45deg);
    top: 11px;
    transition: 0.2s ease;
  }
  .menu-btn.active::after {
    transform: rotate(-45deg);
    top: 11px;
    transition: 0.2s ease;
  }
  .menu-btn.active span {
    transform: scale(0);
    transition: 0.2s ease;
  }
  .active {
    
  }
}
@media (max-width: 600px) {
  .tech-image,
  .jquery .tech-image {
    width: 50px;
  }
  .tech {
    grid-template: 120px 120px/repeat(4, 1fr);
  }
  .advantages {
    grid-template-columns: 1fr;
  }
  .steps-description {
    flex: 0 0 100%;
    min-width: 100%;
  }
  .steps-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  .steps-title {
    padding-right: 0;
    margin-bottom: 0;
  }
  .tarif {
    grid-template-columns: 1fr;
  }
  .tarif-item {
    grid-column: 1/2;
    height: inherit;
  }
  .tarif-left {
    border-bottom: none!important;
    padding-bottom: 0;
  }
  .circle-price {
    top: 0;
  }
  .title-h1 {
    font-size: 40px;
  }
  .name {
    font-size: 18px;
  }
  .main .title-h1 {
    margin-top: 18px;
  }
}
@media (max-width: 550px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-mobile {
    padding-top: 18px;
    padding-bottom: 38px;
  }
  .menu {
    padding-right: 0;
  }
  .photo {
    margin-bottom: 64px;
  }
  .photo,
  .photo img {
    height: 215px;
  }
  .title-h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .circle-main {
    width: 135px;
    height: 135px;
    top: calc(50% - 67px);
    left: -52px;
  }
  .circle-nav {
    width: 60px;
    height: 60px;
    top: -23px;
    right: 28px;
  }
  .main .title-h1 {
    margin-top: 23px;
  }
  .social {
    margin-top: 104px;
    padding-bottom: 30px;
  }
  .nav-social .nav-item {
    padding-left: 9px;
    padding-right: 9px;
  }
  .nav-social .nav-item::before {
    height: 16px;
    top: calc(50% - 9px);
  }
  .skill {
    padding-top: 30px;
  }
  .skill .title-h3 {
    margin-bottom: 18px;
  }
  .skill-item {
    padding-bottom: 10px;
  }
  .section-about {
    padding-top: 0;
  }
  .about-title {
    padding-top: 43px;
    padding-bottom: 0px;
    border-bottom: none!important;
  }
  .about-description {
    padding: 20px 10px 39px 0px;
  }
  .about-item .title-h3 {
    margin-bottom: 18px;
  }
  .about-01 {
    padding: 30px 20px 22px 0px;
  }
  .about-02 {
    padding: 30px 10px 6px 0px;
  }
  .about-03 {
    padding: 0;
  }
  .about-04 {
    padding: 0;
  }
  .section-steps {
    padding-top: 57px;
  }
  .steps-item {
    padding-top: 0;
  }
  .steps-title span {
    margin-right: 10px;
  }
  .portfolio {
    margin-bottom: 78px;
  }
  .circle-portfolio {
    right: 0px;
    top: -147px;
    width: 197px;
    height: 197px;
  }
  .circle-tarif {
    width: 138px;
    height: 138px;
    left: -86px;
    top: calc(50% - 69px);
  }
  .circle-price {
    top: -4px;
    width: 40px;
    height: 40px;
    left: -20px;
  }
  .circle-form {
    left: -54px;
    top: -38px;
    width: 190px;
    height: 190px;
  }
  .triangle-form {
    top: -52px;
    left: 97px;
    width: 29px;
  }
  .section-tarif {
    padding-top: 63px;
  }
  .dark .tarif-title {
    border-bottom: none;
  }
  .tarif-description p {
    margin-top: 4px;
  }
  .tarif-description {
    padding-bottom: 13px;
  }
  .tarif-name {
    margin-top: 10px;
  }
  .tarif-item {
    padding-top: 0;
  }
  .triangle {
    left: 0;
    bottom: -69px;
    width: 33px;
  }
  .nav-tabs-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .work {
    padding-top: 32px;
  }
  .work-title {
    margin-bottom: 22px;
  }
  .work-list {
    margin-bottom: 21px;
  }
  .work-item {
    padding-bottom: 40px;
  }
  .work-thumb,
  .work-image {
    height: 190px;
  }
  .section-advantages {
    padding-top: 63px;
  }
  .advantages-image svg {
    width: 30px;
    height: 30px;
  }
  .advantages {
    padding-top: 41px;
    grid-gap: 31px;
  }
  .advantages-text {
    margin-bottom: 39px;
  }
  .advantages .title-h3 {
    margin-bottom: 16px;
  }
  .section-advantages {
    padding-bottom: 60px;
  }
  .tech-image, .jquery .tech-image {
    width: 22px;
  }
  .tech {
    grid-template: 44px 44px/repeat(4, 1fr);
  }
  .form-description p {
    margin-top: 3px;
  }
  .form-description {
    padding-bottom: 12px;
  }
  .form-item {
    padding-top: 39px;
    padding-bottom: 22px;
  }
  form label {
    margin-bottom: 6px;
  }
  form input {
    padding: 22px 20px 23px;
  }
  .ui-selectmenu-button.ui-button {
    padding: 20px 20px 20px;
    margin-bottom: 30px;
  }
  form input[type=submit] {
    padding: 18px 0;
  }
  .section-form {
    padding-bottom: 38px;
  }
  .footer-top {
    padding-top: 48px;
  }
  .nav-item {
    padding-left: 7px;
    padding-right: 7px;
  }
  .footer-bottom {
    padding-top: 33px;
    padding-bottom: 25px;
  }
  .project,
  .nav-social .nav-link,
  .title-h3,
  .steps-description,
  .work-list,
  .work-time,
  .advantages-description,
  .tarif-pack,
  .tarif-list,
  form input[type=submit] {
    font-size: 12px;
  }
  .skill,
  .about-item,
  .nav-link,
  .tarif-text,
  form input,
  form label,
  .ui-selectmenu-text
  .footer-top .nav-link,
  .footer-bottom {
    font-size: 10px;
  }
  .about-title,
  .about-description,
  .steps-title,
  .work-title,
  .advantages-text,
  .tarif-title,
  .tarif-description,
  .tarif-name,
  .form-title,
  .form-description {
    font-size: 16px;
  }
  .tarif-price {
    font-size: 22px;
  }
  .footer-top .nav-info {
    font-size: 14px;
  }
  .nav-tabs {
    justify-content: space-between;
  }
}